<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Crypto Prices</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chart.css') }}"
    />
    <nav>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./login">Se connecter</a></li>
        <li><a href="./register">S'inscrire</a></li>
        <div class="container_switch">
          <button
            id="theme-toggle"
            onclick="toggleTheme()"
            class="circle"
            onclick="toggleTheme()"
          ></button>
        </div>
      </ul>
    </nav>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="form-group">
            <label for="cryptoSelect">Selectionnez une crypto:</label>
            <select class="form-control" id="cryptoSelect">
              <option value="bitcoin">Bitcoin (BTC)</option>
              <option value="litecoin">Litecoin (LTC)</option>
              <option value="solana">Solana (SOL)</option>
            </select>
          </div>
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Prix des crypto</h5>
            </div>
            <div class="card-body">
              <div class="chart-container">
                <canvas id="cryptoChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/switch.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
  </body>
</html>
