<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      <form action="async-login" method="post">
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Mot De Passe"
          required
        />
        <input type="checkbox" onclick="showPassword()" /> Voir le mot de passe
        <p class="invalid-password" id="invalidPasswordText" hidden>
          Mot de passe invalide
        </p>
        <input type="submit" value="Login" />
      </form>
    </p>
      <a href="./register">Pas de compte ? se creer ici</a>
    </div>

    <script>
      function showPassword() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
          passwordField.type = "text";
        } else {
          passwordField.type = "password";
        }
      }
      function isValid(bool) {
        if (window.location.href.includes("?error=true")) {
          document.getElementById("invalidPasswordText").hidden = false;
        }
      }
      isValid();
    </script>
  </body>
</html>
