<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      button.sender {
  background-color: #4caf50; /* Couleur de fond pour le bouton */
  color: white;
  padding: 15px 20px;
  margin-top: 20px; /* Espacement avant le bouton */
  transition: background-color 0.2s ease; /* Transition douce pour le bouton */
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

button.sender:hover {
  background-color: #369639; /* Changement de couleur au survol */
}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Votre Profil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/snow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profil.css') }}">
  </head>
  <body>
    <div class="snowflakes" aria-hidden="true">
      <div class="snowflake"></div>
      <div class="snowflake"></div>
      <div class="snowflake"></div>
      <div class="snowflake"></div>
      <div class="snowflake"></div>
    </div>
    <nav>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./roue">RoueDuJour</a></li>
        <li><a href="./disconnect">Se deconnecter</a></li>
        <div class="container_switch">
          <button
            id="theme-toggle"
            onclick="toggleTheme()"
            class="circle"
            onclick="toggleTheme()"
          ></button>
        </div>
      </ul>
    </nav>
    <div class="container">
      <h1>Votre profil</h1>
      <div class="profile-info">
        <img
          src="https://s2.qwant.com/thumbr/700x0/6/d/2c340c3deff29966b6dc0e90e278e1c77ec88d1c8648e7ad0e11ea9ba36c97/7vpbcus2uzn31.jpg?u=https%3A%2F%2Fpreview.redd.it%2F7vpbcus2uzn31.jpg%3Fwidth%3D4096%26format%3Dpjpg%26auto%3Dwebp%26s%3D72c156804c8cff9dbe3377d28a7307b504ebd2f5&q=0&b=1&p=0&a=0"
          alt="Profile Picture"
        />
        <input disabled id="Pseudo" type="text" placeholder="Pseudo" />
        <input disabled id="email" type="text" placeholder="Adresse email" />
        <label for="actifs">Actifs</label>
        <select name="actifs" id="actifSelect">
          <option value="">--Selectionnez un actif--</option>
          <option value="EUR">EUR</option>
          <option value="BTC">BTC</option>
          <option value="LTC">LTC</option>
          <option value="SOL">SOL</option>
        </select>
      </br>
        
        <input disabled type="text" placeholder="BALANCE" />
      </div>
      <!-- <img
        src=""
        alt="Money Image"
      /> -->
      <button class="sender" onclick="window.location.href = './send'">Send Money</button>
    </div>

    <script src="{{ url_for('static', filename='js/snow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profil.js') }}"></script>
    <script src="{{ url_for('static', filename='js/switch.js') }}"></script>
  </body>
</html>
