<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <nav>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./login">Se connecter</a></li>
        <li><a href="./register">S'inscrire</a></li>
        <div class="container_switch">
          <button
            id="theme-toggle"
            onclick="toggleTheme()"
            class="circle"
            onclick="toggleTheme()"
          ></button>
        </div>
      </ul>
    </nav>
  </head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <body>
    <div class="container">
      <h2>Register</h2>
      <input id="error" value="" hidden disabled></input>
      <form action="async-register" method="post">
        <input type="text" name="nom" placeholder="Nom" minlength="3" maxlength="12" required/>
        <input type="text" name="prenom" placeholder="Prenom" minlength="3" maxlength="12" required />
        <input type="email" name="email" placeholder="E-mail" required />
        <input type="text" name="username" placeholder="Username" required />
        <input
          type="password"
          name="password"
          pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}"
          placeholder="Password"
          maxlength="14"
          required
        />
        <input
          type="password"
          name="confirm password"
          placeholder="Confirm Password"
          required
        />
        <input type="number" required name="age" placeholder="age" />
      </p>
        <input type="submit" value="Register" />
      </form>
    </div>
    <script>
            if(window.location.href.includes("error=true")){
        document.getElementById("error").value = decodeURIComponent(window.location.href.split("&message=")[1])
        document.getElementById("error").hidden = false
      }
      var input = document.getElementById('password')
      input.oninvalid = function(event) {
        event.target.setCustomValidity(`Le mot de passe doit contenir: 
                -Au moins une majuscule (A-Z)
                -Au moins 8 caractère (maximum 14)
                -des chiffres (0-9) 
                -des caratères spéciaux (#?!@$%^&*-)`)
              }

    </script>
    <script src="{{ url_for('static', filename='js/switch.js') }}"></script>
  </body>

</html>
